<div class="row align-items-md-stretch">
    <div class="col-lg-12">
        <div class="p-4 mt-5 text-dark rounded-3 bg-gris">
            <h1>Centro de mensajes</h1>
            <input type="email" class="form-control mb-2" id="nombre" placeholder="Introduzca su email">

            <div id="messages"></div>
            <div class="input-group mt-2">
                <input type="text" class="form-control" id="mensaje" placeholder="Cuentanos algo...">
                <button type="button" class="btn btn-primary" onclick="sendMessage()">Enviar</button>
            </div>
        </div>
    </div>
</div>